snippet sp
S pozdravem
David Široký

endsnippet

snippet sig
-- 
David Siroky
Embedded SW Lead

+420 603 584 881
david.siroky@meetangee.com
https://www.linkedin.com/in/david-siroky/

Angee Labs, s.r.o.
Rašínovo nábřeží 10
128 00 Praha 2, CZ

Automated home protection that respects your privacy
https://www.meetangee.com/
endsnippet

# vim:ft=snippets:
